---
layout: default
title: Jorijn Schrijvershof
---	
<div id="home">
   {% for post in site.posts limit:1 %}
	<article class="grid_8 post">
		<h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
		<p>{{ post.content }}</p>
		<div class="meta">
			<span><a href="http://blog.jorijn.com">Jorijn Schrijvershof</a></span> · 
			<span>{{ post.date | date:"%B %d, %Y" }}</span> · 
			<span>{{ post.content | number_of_words }} words</span>
		</div>
	</article>
   {% endfor %}

	<sidebar class="grid_4">
		<h2 class="title"><a href="/archive.html">...Previously</a></h2>
	   {% for post in site.posts offset:1 limit:12 %}
		<p><span>{{ post.date | date:"%m %d %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a></p>
	   {% endfor %}
	</sidebar>
</div>
