---
layout: default
---
<div id="home grid_12">
	<article class="grid_8 post">
		<h2 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
		<p>{{ content }}</p>
		<div class="meta">
			<span><a href="http://blog.jorijn.com">Jorijn Schrijvershof</a></span> · 
			<span>{{ page.date | date:"%B %d, %Y" }}</span> · 
			<span>{{ page.content | number_of_words }} words</span>
		</div>
	</article>

	<sidebar class="grid_4">
		<h2>...Recently</h2>
	   {% for post in site.posts offset:0 limit:12 %}
		{% if post.url != page.url %}
		<p><span>{{ post.date | date:"%m %d %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a></p>
		{% endif %}
	   {% endfor %}
	</sidebar>
</div>